In [1]:
import time

In [2]:
from pyarrow import csv

In [10]:
def load_by_arrow(file):
    table=csv.read_csv(file)
    return table.to_pandas()

In [4]:
import pandas as pd

In [5]:
def load_by_pandas(file):
    df=pd.read_csv(file)
    return df

In [13]:
%%time

file='goog_data.csv'

pa_df=load_by_arrow(file)
pa_df

ok
Wall time: 102 ms

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-11-18,1765.229980,1773.469971,1746.140015,1746.780029,1746.780029,1173500
1,2020-11-19,1738.380005,1769.589966,1737.005005,1763.920044,1763.920044,1249900
2,2020-11-20,1765.209961,1774.000000,1741.859985,1742.189941,1742.189941,2313500
3,2020-11-23,1749.599976,1753.900024,1717.719971,1734.859985,1734.859985,2161600
4,2020-11-24,1730.500000,1771.599976,1727.689941,1768.880005,1768.880005,1578000
...,...,...,...,...,...,...,...
254011,2021-11-11,2942.139893,2970.044922,2933.889893,2934.959961,2934.959961,623200
254012,2021-11-12,2956.629883,2997.189941,2929.080078,2992.909912,2992.909912,852000
254013,2021-11-15,3000.000000,3009.540039,2973.050049,2987.760010,2987.760010,812400
254014,2021-11-16,2983.409912,2996.649902,2967.000000,2981.520020,2981.520020,862700
254015,2021-11-17,2984.580078,2992.520020,2971.260010,2981.239990,2981.239990,763400

In [14]:
%%time

file='goog_data.csv'

df=load_by_pandas(file)
df

Wall time: 361 ms

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-11-18,1765.229980,1773.469971,1746.140015,1746.780029,1746.780029,1173500
1,2020-11-19,1738.380005,1769.589966,1737.005005,1763.920044,1763.920044,1249900
2,2020-11-20,1765.209961,1774.000000,1741.859985,1742.189941,1742.189941,2313500
3,2020-11-23,1749.599976,1753.900024,1717.719971,1734.859985,1734.859985,2161600
4,2020-11-24,1730.500000,1771.599976,1727.689941,1768.880005,1768.880005,1578000
...,...,...,...,...,...,...,...
254011,2021-11-11,2942.139893,2970.044922,2933.889893,2934.959961,2934.959961,623200
254012,2021-11-12,2956.629883,2997.189941,2929.080078,2992.909912,2992.909912,852000
254013,2021-11-15,3000.000000,3009.540039,2973.050049,2987.760010,2987.760010,812400
254014,2021-11-16,2983.409912,2996.649902,2967.000000,2981.520020,2981.520020,862700
254015,2021-11-17,2984.580078,2992.520020,2971.260010,2981.239990,2981.239990,763400